{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "browser": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "no-unused-expressions": [1, {
      "allowShortCircuit": true,
      "allowTernary": true
    }]
  }
}
